
{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}

{% endblock %}

{% block title %}
    Error
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block body -%}
    <h1>ERROR</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('backend_admin_homepage') }}">return to the homepage</a>.
    </p>

{% endblock %}


{% block extrascripts %}


{% endblock %}
