{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{#
	{% extends 'base.html.twig' %}	
#} 

{% extends 'SolucelAdminBundle::layout.html.twig' %}
{% block body %}
    <h1>ERROR</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('backend_admin_homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}