{% extends 'base.html.twig' %}
{#{% extends 'BackendAdminBundle::layout.html.twig' %}#}
{% block body %}
    <h1>ERROR, {{ 'error.contact_admin'|trans }}</h1>

    <p>
       <a href="{{ path('backend_admin_homepage') }}">&nbsp;{{ 'label_home'|trans }}</a>
    </p>
{% endblock %}