Backend\AdminBundle\Entity\TicketFollower:
    type: entity
    table: ticket_follower
    repositoryClass: Backend\AdminBundle\Repository\TicketFollowerRepository
    indexes:
        ticket_id:
            columns:
                - ticket_id
        user_id:
            columns:
                - user_id
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: true
            id: true
            generator:
                strategy: IDENTITY
    fields:
        enabled:
            type: boolean
            nullable: false
            options:
                default: '1'
    manyToOne:
        user:
            targetEntity: User
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                user_id:
                    referencedColumnName: id
            orphanRemoval: false
        ticket:
            targetEntity: Ticket
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                ticket_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
