

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3 class="header-title">Ticket1245789</h3>
            </div>
            <div class="col-md-2 text-left">
                <p style="margin-top:15px">in Weston Condo</p>
            </div>
            <div class="col-md-4">


            </div>
            <div class="col-md-4">
                <div class="alert-condo-edit" role="alert">
                    Notification
                </div>
            </div>
        </div>

        <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>


    </div>
</div>

<!-- CONTENT -->
<div class="main-content no-bordertop">



    <div class="container">




        <div class="form-inputs-g">


            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-3">
                        <p class="txt-blue-bold">Sector: </p>
                    </div>
                    <div class="col-md-9">
                        <span>1</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-md-7">
                        <p class="txt-blue-bold">Property Number: </p>
                    </div>
                    <div class="col-md-5">
                        <span>105</span>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="col-md-7">
                        <p class="txt-blue-bold">Maintenance cost: </p>
                    </div>
                    <div class="col-md-5 text-left">
                        <span>$ 540.00</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-md-7">
                        <p class="txt-blue-bold">Maintenance cost: </p>
                    </div>
                    <div class="col-md-5 text-left">
                        <span>$ 540.00</span>
                    </div>
                </div>

            </div>


            <!-- adress -->

            <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>


            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <p class="txt-blue-bold">Tenant Email: </p>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-5">
                        <p class="txt-blue-bold text-right">Owner: </p>
                    </div>
                    <div class="col-md-7 text-right">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
            </div>
            <br/>


            <div class="row color2">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <p class="txt-blue-bold">Tenant</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 text-right">
                        <p class="txt-blue-bold">Owner</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
            </div>





            <div class="row color1">
                <div class="col-md-6">
                    <div class="col-md-4">
                        <p class="txt-blue-bold text-left">Address: </p>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 text-right">
                        <p class="txt-blue-bold">Address: </p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                </div>
            </div>


            <div class="row color2">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <p class="txt-blue-bold">Tenant Email:</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 text-right">
                        <p class="txt-blue-bold">Owner Email:</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
            </div>

            <div class="row color1">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <p class="txt-blue-bold">Tenant Phone:</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 text-right">
                        <p class="txt-blue-bold">Owner Phone:</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
            </div>

            <div class="row color2">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <p class="txt-blue-bold">Emergency Call:</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 text-right">
                        <p class="txt-blue-bold">Emergency Call:</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                </div>
            </div>




            <div class="row color1">
                <div class="col-md-6">
                    <div class="col-md-5">
                        <p class="txt-blue-bold text-left">Maintenance cost: </p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="$ 540.00">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-5">
                        <p class="txt-blue-bold text-right">Who Pays Maintenance: </p>
                    </div>
                    <div class="col-md-7 text-right">
                        <label class="radio-inline"><input type="radio" name="optradio" checked>Owner</label>
                        <label class="radio-inline"><input type="radio" name="optradio" checked>Tenant</label>
                    </div>
                </div>
            </div>

            <div class="row color2">
                <div class="col-md-6">
                    <div class="col-md-5">
                        <p class="txt-blue-bold">Agreement Start Date: </p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-5">
                        <p class="txt-blue-bold text-right">Agreement Finish Date: </p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="example@example.com">
                    </div>
                </div>
            </div>


            <!-- Button  -->
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Edit Property</button>
                </div>
            </div>
            <!-- end -->

        </div>
    </div>

</div>
<!-- END: CONTENT -->