<a download="{{ mycode }}.png" href="data:image/png;base64,{{ barcode({code: mycode, type: 'qrcode', format: 'png', width: 10, height: 10, color: [0, 0, 0]}) }}" >
	<img id="property_qr" src="data:image/png;base64,
	{{ barcode({code: mycode, type: 'qrcode', format: 'png', width: 10, height: 10, color: [0, 0, 0]}) }}
	" />
</a>


