{% extends 'BackendAdminBundle::layout.html.twig' %}


{% block body %}


    <form action="{{ path('backend_admin_company_index') }}" method="POST">
        <input type="hidden" name="submit">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            {{ 'label_save'|trans  }}
        </button>


    </form>

{% endblock %}
